/* PHASE 1: Header */
body {
  font-weight: 100;
  font-family: Roboto;
  background-color: #eee;
  /*font-size: 36px;*/
}
header {
  background-color: #f00;
  color: #fff;
  height: 40px;
  font-size: 16px;
  /*line-height: 40px;*/

}
header h1 {
  display: inline-block;
  border: 1px solid white;
  text-align: center;
  font-size: 16px;  /*TO DO */
  font-weight: 700;
  padding: 20px;
  position: relative;
  bottom: 20px;
}
header ul {
  float: right;
  display: inline-block;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin: 0;
}
header li {
  float: left;
  display: inline-block;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin: 0;
  text-align: center;
  font-size: 16px;  /*TO DO */
  font-weight: 400;
  padding: 20px;
  position: relative;
  bottom: 10px;
}
